.correlation-graph-container svg {
  background-color: black;
}

.xAxis, .yAxis {
  text {
    fill: white
  };

  path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.438);
    stroke-width: 1px;
  }

  line {
    stroke: white;
  }
}
