$textColor: #fff;

.main-graph-container {
  display: flex;
  align-items: stretch;
}


g.text-container {
  text {
    fill: $textColor;
    font-weight: bold;
  }
}

svg#legend-container{
  height: 100%;

  g.legend-container {
    text {
      text-transform: lowercase;
    }
  }
}
