@import '../node_modules/bulma/sass/components/modal';
@import '../node_modules/bulma/sass/elements/button';

@import '../node_modules/bulma/sass/elements/form';

@import 'modal';

$textColor: #fff;

.main-graph-container {
  display: flex;
  align-items: stretch;

  .left-container,
  .right-container {
    position: relative;
  }

  .button-container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 100%;

    &.right {
      right: 1em;
      left: unset;
      width: 20rem;
    }

    .twitter-button {
      position: relative;
      padding: .4rem 1rem;
      border-radius: 6rem;
      box-shadow: none;
      cursor: pointer;
      font-weight: bold;
      line-height: 2rem;
      text-align: center;

      background-color: #48AAE6;
      border: 1px solid #1da1f2;
      color: #f6f6f6;

      &:hover {
        background-color: #1B95E0;
        border-color: #1B95E0;
      }

      &:active {
        box-shadow: 0 0 0 2px #f6f6f6, 0 0 0 4px #48AAE6;
      }

    }
  }
}


g.text-container {
  text {
    fill: $textColor;
    font-weight: bold;
  }
}

svg#legend-container{
  height: 100%;

  g.legend-container {
    text {
      text-transform: lowercase;
    }
  }
}
