@import 'breakPoints';
@import '../node_modules/bulma/sass/utilities/_all';

body, html, h1 {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;

  @include for-tablet-landscape-up {
    font-size: 14px;
  }

  @include for-big-desktop-up {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}

.question-container {
  text-transform: capitalize;

  .row {
    margin: 2em;

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }
  }

  .large-text-container {
    width: 100%;
    font-size: 5em;
  }

  .large-button-container {
    width: 100%;
    display: flex;
    justify-content: center;

    text-transform: uppercase;
    font-size: 14em;
    text-align: right;

    a {
      display: flex;
      align-items: center;
      background-color: black;
      color: white;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}

@import 'tweets';
@import 'graph';
