# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Package json lock
package-lock.json

# Optional npm cache directory
.npm

# IntelliJ project files
.idea

# Data
data

# Twitter account
twitterAccount.json
