extends layout

block content
    script(src='https://d3js.org/d3.v4.js')

    div.main-graph-container
        div.left-container
            svg#legend-container
            div.button-container
                div.twitter-button#words-modal
                    span Let me build my own words list!

        div.right-container
            svg#graph-container
        include modal

    script(src='/dist/bundle.js')
    script(src='/js/graph/main.js')
