extends layout

block content
    script(src='https://d3js.org/d3.v4.js')
    script.
        var tweets= !{tweets}

    div.main-graph-container
        div.left-container
            svg#legend-container
            div.button-container
                div.button
                    a(href='graph/words') Let me build my own words list!          

        div.right-container
            svg#graph-container

    div.modal
        div.modal-background
        div.modal-content
        button.modal-close.is-large(area-label='close')       

    script(src='/js/graph.js')
