extends layout

block content
    script(src='https://d3js.org/d3.v4.js')
    script.
        var tweets= !{tweets}

    div.main-graph-container
        div.left-container
            svg#legend-container
                button.new-words I want my own words!

        div.right-container
            svg#graph-container

    script(src='/js/graph.js')
