extends layout

block content
  div.question-container
    div.row
      div.large-text-container
        h1= 'Would you like to'
      div.large-button-container
        a(href=`${routes.tweets}`) read
    div.row
      div.large-text-container
        h1 or just to
      div.large-button-container
        a(href=`${routes.graph}`) watch?

