doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://unpkg.com/lodash@4.17.4/lodash.js')
    script(src="https://unpkg.com/redom@3.6.2")
  body
    block content
