script
    include ../public/js/clickHandlers.js

ol#tweet-items-container
    each tweet, i in tweets
        li.tweet
            span.text #{tweet.full_text}
            span.time @#{tweet.created_at}

a(onclick=`handleOnClickLoadMore(${nextPageUrl})`)#load-more LOAD MORE

