extends layout

block content
    h1 Tweets

    div.button Save current tweets

    ol
        each tweet, i in tweets
            li
                span #{tweet.full_text}
                span @#{tweet.created_at}
