extends layout

block content
    script(src='/js/tweets/tweetItem.js')
    script(src='/js/tweets/main.js')    

    div#app.content
        div.main-container
            div.header
                div.header-background
                    img(src=`${profile.banner}`)
                div.header-profile-picture
                    div.profile-picture-container
                        img(src=`${profile.image}`)
                div.button-container
                    div.twitter-button
                        a(href=`/${baseUrl}/update`) Get new tweets

            div.tweets-container
                ol#tweet-items-container

                div#load-more LOAD MORE
