extends layout

block content
    h1 Tweets

    div.button Save current tweets

    ol
        each tweet, i in tweets
            li
                img(src=`${tweet.user.profile_image_url}`)
                span #{tweet.text}
