extends layout

block content
    div#app.content
        div.main-container
            div.header
                div.header-background
                    img(src='https://pbs.twimg.com/profile_banners/25073877/1505521405/1500x500')
                div.header-profile-picture
                    div.profile-picture-container
                        img(src='https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg')
                div.button-container
                    div.button(href='/#{baseUrl}/update')
                        a(href='/#{baseUrl}/update') Get new tweets

            div.tweets-container
                include tweetsPage
