extends layout

block content
    h1 Tweets

    ol
        each tweet, i in tweets
            li
                img(src=`${tweet.profile_image_url}`)
                span #{tweet.text}
                span    @ #{tweet.created_at}




