body, html {
  margin: 0;
  padding: 0; }

body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.content {
  background-color: #f6f6f6; }

.main-container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto; }

.header {
  position: relative; }
  .header .header-background img {
    width: 100%;
    border-radius: 2rem; }
  .header .header-profile-picture {
    position: absolute;
    left: -0.5rem;
    bottom: -3.5rem; }
    .header .header-profile-picture .profile-picture-container {
      position: relative;
      height: 12.5rem;
      width: 12.5rem;
      background: #f6f6f6;
      border: .4rem solid #f6f6f6;
      border-radius: 50%; }
      .header .header-profile-picture .profile-picture-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
  .header .button-container {
    position: absolute;
    right: 0;
    left: 12.5rem;
    bottom: -3rem; }
    .header .button-container .button {
      position: relative;
      padding: .4rem 1rem;
      border-radius: 6rem;
      box-shadow: none;
      cursor: pointer;
      font-weight: bold;
      line-height: 2rem;
      text-align: center;
      background-color: #48AAE6;
      border: 1px solid #1da1f2;
      color: #f6f6f6; }
      .header .button-container .button a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none; }
      .header .button-container .button:hover {
        background-color: #1B95E0;
        border-color: #1B95E0; }
      .header .button-container .button:active {
        box-shadow: 0 0 0 2px #f6f6f6, 0 0 0 4px #48AAE6; }

.tweets-container {
  margin-top: 4rem; }
  .tweets-container li.tweet {
    padding: .8rem; }
    .tweets-container li.tweet:hover {
      background-color: #E5EBEF; }
    .tweets-container li.tweet .time {
      margin-left: 1rem;
      font-size: .8rem;
      color: #657786; }
  .tweets-container #load-more {
    display: none; }
