body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.button {
    float: right;
    width: 150px;
    padding: 10px;

    border: 1px solid red;
    background-color: rosybrown;
    cursor: pointer;
    text-align: center;
}

