@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

body, html, h1 {
  margin: 0;
  padding: 0; }

body {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (min-width: 900px) {
    body {
      font-size: 14px; } }
  @media (min-width: 1800px) {
    body {
      font-size: 16px; } }

.question-container {
  text-transform: capitalize; }
  .question-container .row {
    margin: 2em; }
    @media (min-width: 1200px) {
      .question-container .row {
        display: flex;
        justify-content: space-between; } }
  .question-container .large-text-container {
    width: 100%;
    font-size: 5em; }
  .question-container .large-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14em;
    text-align: right; }
    .question-container .large-button-container a {
      display: flex;
      align-items: center;
      background-color: black;
      color: white;
      text-decoration: none; }
      .question-container .large-button-container a:hover {
        cursor: pointer;
        background-color: white;
        color: black; }

.content {
  background-color: #f6f6f6; }

.main-container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto; }

.header {
  position: relative; }
  .header .header-background img {
    width: 100%;
    border-radius: 2rem; }
  .header .header-profile-picture {
    position: absolute;
    left: -0.5rem;
    bottom: -3.5rem; }
    .header .header-profile-picture .profile-picture-container {
      position: relative;
      height: 12.5rem;
      width: 12.5rem;
      background: #f6f6f6;
      border: .4rem solid #f6f6f6;
      border-radius: 50%; }
      .header .header-profile-picture .profile-picture-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
  .header .button-container {
    position: absolute;
    right: 0;
    left: 12.5rem;
    bottom: -3rem; }
    .header .button-container .button {
      position: relative;
      padding: .4rem 1rem;
      border-radius: 6rem;
      box-shadow: none;
      cursor: pointer;
      font-weight: bold;
      line-height: 2rem;
      text-align: center;
      background-color: #48AAE6;
      border: 1px solid #1da1f2;
      color: #f6f6f6; }
      .header .button-container .button a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none; }
      .header .button-container .button:hover {
        background-color: #1B95E0;
        border-color: #1B95E0; }
      .header .button-container .button:active {
        box-shadow: 0 0 0 2px #f6f6f6, 0 0 0 4px #48AAE6; }

.tweets-container {
  margin-top: 4rem; }
  .tweets-container li.tweet {
    padding: .8rem; }
    .tweets-container li.tweet:hover {
      background-color: #E5EBEF; }
    .tweets-container li.tweet .time {
      margin-left: 1rem;
      font-size: .8rem;
      color: #657786; }
  .tweets-container #load-more {
    display: none; }

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 20; }
  .modal.is-active {
    display: flex; }

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.86); }

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 769px), print {
    .modal-content,
    .modal-card {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 640px; } }

.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px; }
  .modal-close:before, .modal-close:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .modal-close:before {
    height: 2px;
    width: 50%; }
  .modal-close:after {
    height: 50%;
    width: 2px; }
  .modal-close:hover, .modal-close:focus {
    background-color: rgba(10, 10, 10, 0.3); }
  .modal-close:active {
    background-color: rgba(10, 10, 10, 0.4); }
  .modal-close.is-small {
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px; }
  .modal-close.is-medium {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px; }
  .modal-close.is-large {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px; }

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden; }

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative; }

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-card-title {
  color: #363636;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1; }

.modal-card-foot {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #dbdbdb; }
  .modal-card-foot .button:not(:last-child) {
    margin-right: 10px; }

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px; }

.main-graph-container {
  display: flex;
  align-items: stretch; }
  .main-graph-container .left-container {
    position: relative; }
  .main-graph-container .button-container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 100%; }
    .main-graph-container .button-container .button {
      position: relative;
      padding: .4rem 1rem;
      border-radius: 6rem;
      box-shadow: none;
      cursor: pointer;
      font-weight: bold;
      line-height: 2rem;
      text-align: center;
      background-color: #48AAE6;
      border: 1px solid #1da1f2;
      color: #f6f6f6; }
      .main-graph-container .button-container .button:hover {
        background-color: #1B95E0;
        border-color: #1B95E0; }
      .main-graph-container .button-container .button:active {
        box-shadow: 0 0 0 2px #f6f6f6, 0 0 0 4px #48AAE6; }

g.text-container text {
  fill: #fff;
  font-weight: bold; }

svg#legend-container {
  height: 100%; }
  svg#legend-container g.legend-container text {
    text-transform: lowercase; }
